<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" href="/images/Logo/tablogo.png">
    <title>Spectrum</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>

    <header id="header-section">

        <div id="nav-div">
            <nav id="navbar">
                <div class="logo-div">
                    <span class="logo">
                        <a href="#home"><img src="/images/Logo/tablogo.png" alt="Logo" id="logo_pc"></a>
                    </span>
                </div>
                <div>
                    <span id="nav-icon-span">
                        <i class="fas fa-bars" id=nav-icon onclick="return view_micro_menu()"></i>
                    </span>
                    <div class="menu-div" id="icon-span-menu-div">
                        <div id="icon-menu-span">
                            <ul class="menu-ul" id="icon-menu-ul">
                                <li class="icon-menu" id="home-a-icon"><a href="#home" class="active">Register</a></li>
                                <li class="icon-menu" id="about-a-icon"><a href="#about">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="menu-div">
                        <span>
                            <ul class="menu-ul">
                                <li class="menu" id="home-a"><a href="./register">Register</a></li>
                                <li class="menu" id="about-a"><a href="./login">Login</a></li>
                            </ul>
                        </span>
                    </div>

                </div>
            </nav>
        </div>
</header>

</head>
<body>
    <section id="home"><h1>Welcome To spectrum</h1><br><br>
    
        
<h3>Who we are!</h3><br><br>
        <p id="about-para">
            SPECTRUM ,Technical society of COLLEGE OF ENGINEERING AND TECHNOLOGY, BHUBANESWAR,a place for all
            technical enthusiasts to learn, discover and innovate new things in the field of Technology and
            Design. The name of the club " SPECTRUM ", a contribution of our alumni of 2015 batch, is
            particularly used to describe the characteristic colors of visible light after passing through a
            prism, similarly students of CET consist of different skills within them and Spectrum acts like a
            prism, Spectrum recognises their skills helps them to strengthen it.

            This club was established by " Bikram Keshari Panda (2015 batch) ".Spectrum got its recognition in
            the year 2016 and got its workspace, funding and other facilities. Primarily this was his idea to
            have an electronics society in our college but with the efforts of other members we established two
            other wings - Software and Design.The other seniors who had their valuable contribution for this
            initiative were: Ankit Mishra, Zighnesh Biswal, Abhishek Dash, Avinash Nayak, Tapan Kumar Pal,
            Krutikesh Sahoo, Abhilash Das.
        </p>

    </section>
    <footer>
        <div id="spn-1" class="spn">
            <ul>
                <li><a href="https://www.spectrumcet.com/" target="_blank"><i class="fas fa-globe"
                            style="color: white;"></i></a> Official Website</li>
                <li><i class="fas fa-map-marker-alt"></i> College Of Engineering And Technology, Ghatikia, <br>
                    Bhubaneswar - 751003</li>
                <li><i class="fas fa-envelope"></i> spectrumclub.cetb@gmail.com</li>


            </ul>
        </div>
    </footer>
    <div id="copyr8">
        <p>Picture Sources: Spectrum handles<br>&copy; All Rights Are Reserverd<br></p>
    </div>
    

</body>
<script src="https://kit.fontawesome.com/e8b805f44f.js" crossorigin="anonymous"></script>
<script src="../assets/js/style.js"></script> 
</html>