<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" href="/images/logo/tablogo.png">
    <title>Log in</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/form.css'>
</head>

<body>
    <div id="formContainer">
        <div id="imgbx" class="fc-class">
            <img src="/images/logo/tablogo.png" alt="">
        </div>
        <div id="content" class="fc-class">
            
            <form action="/auth/loggedin" method="post">
                <h3>Log in</h3>
                <input type="text" placeholder="Email" id="email" name="email">
                <input type="password" placeholder="Password" id="pass" name="pass">
                <button type="submit" name="submit" id=submit>Submit</button>
                <p>Don't have an account?&nbsp&nbsp<a href="/register">Sign up</a></p>
            </form>
        </div>
    </div>

</body>

</html>